.DS_Store


TOCR-mobileUI/*.iml
TOCR-mobileUI/.gradle
TOCR-mobileUI/local.properties
TOCR-mobileUI/.idea/workspace.xml
TOCR-mobileUI/.idea/libraries
TOCR-mobileUI/build
TOCR-mobileUI/captures
TOCR-mobileUI/.externalNativeBuild
